# If you want Electrum to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-lbtc.desktop

[Desktop Entry]
Comment=Lightweight Litebitcoin Client
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-lbtc %u"
GenericName[en_US]=Litebitcoin Wallet
GenericName=Litebitcoin Wallet
Icon=electrum-lbtc
Name[en_US]=Electrum Litebitcoin Wallet
Name=Electrum Litebitcoin Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/litebitcoin;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-lbtc --testnet %u"
Name=Testnet mode
